<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">{{ (pageInfo$ | async)?.title }}</h1>
    <span>{{ version }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #nav mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="home" routerLinkActive="active" style="border-left-color:#f5f5f5;">
        <mat-icon matListItemIcon>home</mat-icon>
        <h1 matListItemTitle>Home</h1>
      </mat-list-item>
      <mat-list-item routerLink="core" routerLinkActive="active" style="border-left-color:#75ff03;">
        <mat-icon matListItemIcon>security</mat-icon>
        <h1 matListItemTitle>Core</h1>
      </mat-list-item>
      <mat-list-item routerLink="roles" routerLinkActive="active" style="border-left-color:#feff00;">
        <mat-icon matListItemIcon>security</mat-icon>
        <h1 matListItemTitle>Roles</h1>
      </mat-list-item>
      <mat-list-item routerLink="permissions" routerLinkActive="active" style="border-left-color:#feff00;">
        <mat-icon matListItemIcon>security</mat-icon>
        <h1 matListItemTitle>Permissions</h1>
      </mat-list-item>
      <mat-list-item routerLink="auth" routerLinkActive="active" style="border-left-color:#ff9100;">
        <mat-icon matListItemIcon>security</mat-icon>
        <h1 matListItemTitle>Auth</h1>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon>{{ (pageInfo$ | async)?.pageIcon }}</mat-icon>
        <h1 style="margin-left:8px;margin-bottom:0;">{{ (pageInfo$ | async)?.pageTitle }}</h1>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
