<mat-tab-group>
  <mat-tab label="Overview">

    <br/>
    <br/>

    <h2>Installation</h2>
    <pre><code [highlight]="'npm install --save @ngx-security/core @ngx-security/roles'"></code></pre>
    <br/>

    <h2>Usage</h2>

    <h4>Structural directives</h4>
    <pre><code [highlight]="hasRoleStructuralDirective"></code></pre>
    <pre><code [highlight]="hasAnyRoleStructuralDirective"></code></pre>
    <pre><code [highlight]="hasRolesStructuralDirective"></code></pre>
    <br/>

    <h4>Pipes</h4>
    <pre><code [highlight]="hasRolePipe"></code></pre>
    <pre><code [highlight]="hasAnyRolePipe"></code></pre>
    <pre><code [highlight]="hasRolesPipe"></code></pre>
    <br/>

    <h4>Pipes with poetry</h4>
    <pre><code [highlight]="hasRolePipePoetry"></code></pre>
    <pre><code [highlight]="hasAnyRolePipePoetry"></code></pre>
    <pre><code [highlight]="hasRolesPipePoetry"></code></pre>

  </mat-tab>
  <mat-tab label="Demo">

    <br/>
    <br/>

    <form>
      <mat-form-field style="width:100%;">
        <mat-chip-grid #chipList>
          <mat-chip *ngFor="let role of roles" (removed)="remove(role)">
            {{role}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input #rolesInput
                 placeholder="User roles"
                 [formControl]="rolesCtrl"
                 [matAutocomplete]="auto"
                 [matChipInputFor]="chipList"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-grid>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let role of filteredRoles | async" [value]="role">{{role}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <br/>
    <br/>

    <mat-card>
      <span>This is card is always visible to all users. Add some role to see more cards</span>
    </mat-card>
    <mat-card *ngIf="'user' | hasRole:'ROLE_1'">
      <span>This is visible because user has ROLE_1</span>
    </mat-card>
    <mat-card *ngIf="'user' | hasAnyRole:['ROLE_1','ROLE_2']">
      <span>This is visible because user has ROLE_1 or ROLE_2</span>
    </mat-card>
    <mat-card *ngIf="'user' | hasRoles:['ROLE_1','ROLE_2']">
      <span>This is visible because user has ROLE_1 and ROLE_2</span>
    </mat-card>

    <mat-card *hasRole="'ROLE_1'">
      <span>This is visible because user has ROLE_1</span>
    </mat-card>
    <mat-card *hasAnyRole="['ROLE_1','ROLE_2']">
      <span>This is visible because user has ROLE_1 or ROLE_2</span>
    </mat-card>
    <mat-card *hasRoles="['ROLE_1','ROLE_2']">
      <span>This is visible because user has ROLE_1 and ROLE_2</span>
    </mat-card>

  </mat-tab>
</mat-tab-group>
