<mat-tab-group>
  <mat-tab label="Overview">

    <br/>
    <br/>

    <h2>Installation</h2>
    <pre><code [highlight]="'npm install --save @ngx-security/core'" [language]="'bash'"></code></pre>
    <br/>

    <h2>Usage</h2>
    <pre><code [highlight]="usageComponentController" [language]="'typescript'"></code></pre>
    <pre><code [highlight]="usageComponentView" [language]="'html'"></code></pre>

  </mat-tab>
  <mat-tab label="Demo">

    <br/>
    <br/>

    <div class="login-from-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            @if (!(user.isAuthorized$ | async)) {
              <span>Please login to continue</span>
            }
            @if (user.isAuthorized$ | async) {
              <span>Welcome, {{ user.displayName$ | async }}</span>
            }
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (user.isAuthorized$ | async) {
            <h3>authorities: {{ user.authorities$ | async | json }}</h3>
          }
        </mat-card-content>
        @if (!(user.isAuthorized$ | async)) {
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="login()">LOGIN</button>
          </mat-card-actions>
        }
        @if (user.isAuthorized$ | async) {
          <mat-card-actions align="end">
            <button mat-button color="primary" (click)="logout()">LOGOUT</button>
          </mat-card-actions>
        }
      </mat-card>
    </div>

  </mat-tab>
</mat-tab-group>
